<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <p><strong><%= resource.errors.count %> 件のエラーにより保存できませんでした</strong></p>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
