<% unless user_signed_in? %>
  <div class="home-hero">
    <div class="overlay"></div>

    <div class="hero-content">
      <p class="hero-subtitle">歩くたび、日本をめぐる。</p>

      <div class="hero-buttons">
        <%= link_to "ログイン", new_user_session_path, class: "hero-btn primary" %>
        <%= link_to "新規登録", new_user_registration_path, class: "hero-btn secondary" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="dashboard-container">
    <h2>ダッシュボード</h2>
    <% if @exercises.any? %>
      <% @exercises.each do |exercise| %>
        <p><%= exercise.minutes %> 分 / <%= exercise.mets %> METs</p>
      <% end %>
    <% else %>
      <p>まだ運動記録がありません。</p>
    <% end %>
  </div>
<% end %>
